html {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-width: 320px;
  font: 16px/1.5 sans-serif;
  color: #000; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain; }

a {
  text-decoration: none; }

p {
  margin-top: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px; }

.container {
  max-width: 1111px;
  margin: 0 auto;
  padding: 0 30px; }

.button {
  width: 254px;
  min-height: 40px;
  background-color: rgba(45, 182, 253, 0.7);
  padding: 0 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer; }
  .button--dark {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1); }

.button-link {
  display: block;
  width: 259px;
  height: 40px;
  border: 1px solid #67b6fc;
  background-color: #d5f0fe;
  color: #363636;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-top: 40px; }

.bb {
  border-bottom: 1px solid #363636; }

.form-inline .btn:before {
  content: "\e801";
  font-family: "fontello"; }

.navbar-toggler {
  border-color: #363636 !important; }

.btn {
  border-color: #363636;
  height: 40px; }

.contact {
  background-color: #363636;
  color: #bababa;
  padding: 12px 0; }
  .contact__items {
    width: 100%;
    margin-top: 10px; }
    .contact__items a {
      color: #bababa; }

.header__main {
  padding: 15px 0; }

.navbar-toggler {
  height: 40px; }

.menu-icon:before {
  content: "\f0c9";
  font-family: "fontello"; }

.list-icon:before {
  content: "\f0ca";
  font-family: "fontello";
  color: white;
  background-color: #363636;
  font-size: 16px;
  padding: 3px;
  margin: 0;
  border-radius: 3px; }

.hero {
  min-height: 300px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/hero/hero-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, left center;
  background-size: auto 300px;
  color: white;
  padding: 60px 0;
  text-align: center;
  position: relative; }
  .hero__h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2; }
  .hero__subtitle {
    margin-bottom: 24px; }

.materials__nav {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .materials__nav li {
    padding: 10px 0;
    cursor: pointer; }
  .materials__nav li a {
    color: #363636; }
  .materials__nav li + li {
    border-top: 1px solid #cccccc; }

.materials__examples {
  padding: 60px 0; }

.materials--spec {
  background-color: #eeeeee; }

.materials__title {
  text-align: center;
  color: #363636;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.prom__items {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.prom__image {
  width: 260px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 20px; }

.prom__name {
  padding-bottom: 20px;
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  line-height: 20px;
  border-bottom: 2px solid #dcdcdc; }

.spec__items {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.spec__item {
  background-color: #fff;
  margin-top: 30px; }

.spec__image {
  width: 260px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px; }

.spec__name {
  padding: 0 10px;
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  line-height: 20px; }

.spec__desrc {
  display: block;
  padding: 0 10px;
  width: 160px; }

.spec__link {
  display: block;
  padding: 0 10px;
  margin: 25px 0 10px; }

.arh__items {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.arh__item {
  background-color: #fff;
  margin-top: 30px; }

.arh__image {
  width: 260px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px; }

.arh__name {
  padding: 0 10px;
  padding-bottom: 20px;
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  line-height: 20px;
  border-bottom: 2px solid #dcdcdc; }

.arh__desrc {
  display: block;
  padding: 0 10px;
  width: 160px; }

.arh__link {
  display: block;
  padding: 0 10px;
  margin: 25px 0 10px; }

.about {
  background-color: #eeeeee;
  padding: 60px 0 0;
  color: #363636; }
  .about__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .about__text {
    line-height: 24px;
    margin-bottom: 30px; }
  .about__link {
    color: #363636; }
  .about__image {
    width: 100%;
    margin-top: 60px; }

.contacts {
  padding: 60px 0 0; }
  .contacts__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .contacts__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    .contacts__item a {
      display: block;
      color: #363636; }
  .contacts__name {
    display: block;
    color: #bababa;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  .contacts__map {
    width: 100%;
    margin-top: 40px; }

.footer {
  background-color: #363636;
  color: white;
  padding: 60px 0 50px; }
  .footer__logo {
    margin: 40px 0 55px; }
  .footer__nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .footer__nav li {
      margin: 0 15px 30px; }
      .footer__nav li a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400; }
  .footer__copy {
    display: block;
    margin-top: 40px;
    color: #bababa; }
    .footer__copy:before {
      content: "\f1f9";
      font-family: 'fontello';
      margin-right: 10px; }

.questions {
  border-bottom: 1px solid #565656; }
  .questions__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; }
    .questions__title b {
      display: block; }
  .questions__form {
    margin-bottom: 60px; }
  .questions__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    line-height: 30px;
    color: #ffffff; }
    .questions__input:focus + .questions__label {
      font-size: 12px;
      transform: translateY(-50px);
      transition: 0.5s; }
  .questions__label {
    display: block;
    color: #bababa;
    font-size: 16px;
    font-weight: 400;
    top: 10px;
    transform: translateY(-30px);
    transition: 0.5s; }
