.contact
  background-color: #363636
  color: #bababa
  padding: 12px 0
  &__address:before
    content: "\e803"
    font-family: "fontello"
    margin-right: 10px
    font-size: 18px
  &__items
    width: 100%
    margin-top: 10px
    a
      color: #bababa
.header
  &__main
    padding: 15px 0
  &__logo
    display: flex
    flex-direction: column
    img
      width: 58px
      height: 40px
    span
      font-family: "Bebas"
      color: #000000;
      font-size: 21px;
.navbar-toggler
  height: 40px
.menu-icon
  &:before
    content: "\f0c9"
    font-family: "fontello"
.list-icon
  &:before
    content: "\f0ca"
    font-family: "fontello"
    color: white
    background-color: #363636
    font-size: 16px
    padding: 3px
    margin: 0
    border-radius: 3px

@media (min-width: 576px)
  .contact
    &__items
      margin-top: 0
  .header
    &__logo
      flex-direction: row
      align-items: center
      img
        width: 82px
        height: 57px
      span
        font-size: 30px

  .navbar-toggler
    width: 87px
    height: 45px
  .form-inline .btn
    width: 87px
    height: 45px
