.materials
  &__nav
    text-align: center
    font-size: 16px
    text-transform: uppercase
    list-style-type: none
    margin: 0
    padding: 0
    li
      padding: 10px 0
      cursor: pointer
    li a
      color: $text-color
    li + li
      border-top: 1px solid #cccccc

  &__examples
    padding: 60px 0
  &--spec
      background-color: #eeeeee
  &__title
    text-align: center
    color: $text-color
    font-size: 24px
    font-weight: 700
    text-transform: uppercase

.prom
  &__items
    list-style-type: none
    margin: 0
    padding: 0
  &__image
    width: 260px
    height: 150px
    margin-top: 30px
    margin-bottom: 20px
  &__name
    padding-bottom: 20px
    color: $text-color
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -0.18px
    line-height: 20px
    border-bottom: 2px solid #dcdcdc

.spec
  &__items
    list-style-type: none
    margin: 0
    padding: 0
  &__item
    background-color: #fff
    margin-top: 30px
  &__image
    width: 260px
    height: 230px
    object-fit: cover
    margin-bottom: 20px
  &__name
    padding: 0 10px
    color: $text-color
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -0.18px
    line-height: 20px
  &__desrc
    display: block
    padding: 0 10px
    width: 160px
  &__link
    display: block
    padding: 0 10px
    margin: 25px 0 10px

.arh
  &__items
    list-style-type: none
    margin: 0
    padding: 0
  &__item
    background-color: #fff
    margin-top: 30px
  &__image
    width: 260px
    height: 230px
    object-fit: cover
    margin-bottom: 20px
  &__name
    padding: 0 10px
    padding-bottom: 20px
    color: $text-color
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -0.18px
    line-height: 20px
    border-bottom: 2px solid #dcdcdc
  &__desrc
    display: block
    padding: 0 10px
    width: 160px
  &__link
    display: block
    padding: 0 10px
    margin: 25px 0 10px
